html,
body {
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

body {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

.wrapper {

}

#main-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 3;
  opacity: .8;

  & img {
    height: 100px;
    width: auto;
    filter: brightness(0) invert(1);

    @media (max-width: 768px) {
      height: 60px;
    }
  }
}

#hamburger {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3;
  cursor: pointer;
  color: whitesmoke;
  line-height: 60px;
  font-size: 32px;
  opacity: .8;

  @media (max-width: 768px) {
    display: block;
  }
}

#main-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .9rem;

  & > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    & li {
      display: inline-block;
      padding: 0;

      & > a {
        display: block;
        padding: 16px 20px;
        outline: none;
        color: whitesmoke;
      }
    }
  }

  @media (max-width: 768px) {
    display: none;
    position: absolute;
    top: 100px;
    right: auto;
    z-index: 3;
    width: 100%;
    padding: 0 20px;

    & > ul {
      border-top: 1px solid #dfe5e8;
      border-left: 1px solid #dfe5e8;
      border-right: 1px solid #dfe5e8;

      & li {
        display: block;
        background: #f4f6f7;
        border-bottom: 1px solid #dfe5e8;

        & > a {
          display: block;
          padding: 16px 30px;
          outline: none;
          color: #2986ce;
        }
      }
    }
  }
}

#hero {
  height: 100vh;
  position: relative;

  & .hero-image-container {
    height: 100vh;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & .hero-text {
    padding: 10px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0;
    color: whitesmoke;
    z-index: 1;

    & .message-01 {
      z-index: 2;
      color: #2986ce;
      font-family: 'Playfair Display', serif;
      font-size: 18px;
      font-style: italic
    }

    & .message-02 {
      z-index: 2;
      text-transform: uppercase;
      font-size: 56px;
      font-weight: bold;
      line-height: .9em;

      @media (max-width: 768px) {
        font-size: 30px;
      }
    }

    & .message-03 {
      z-index: 2;
      font-size: 14px;

      @media (max-width: 768px) {
        padding-right: 50px;
        padding-left: 50px;
      }
    }

    & .btn-find-properties {
      z-index: 2;
      margin-top: 10px;
    }

    & .dark-box {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, .45);
      width: 300px;
      height: 60%;
      z-index: 1;

      @media (max-width: 768px) {
        width: 250px;
      }
    }
  }

  .btn-explore {
    z-index: 2;
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    color: whitesmoke;

    & a {
      display: inline-block
    }
  }
}

#stories {
  padding-top: 60px;
  padding-bottom: 60px;
  font-weight: 300;

  & .stories-title {
    font-family: 'Playfair Display', sans-serif;
    letter-spacing: .2em;
    hyphens: auto;
    margin-bottom: 3px
  }

  & .stories-gallery {
    div.row, div.column {
      padding: 0;
    }

    div.row {
      padding-left: 1rem;
      padding-right: 1rem;

      @media (max-width: 768px) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    img {
      object-fit: cover;
      height: 270px;

      @media (max-width: 768px) {
        height: 130px;
      }

      @media (max-width: 320px) {
        height: 100px;
      }
    }

    div.row:first-child img,
    div.row:last-child img {
      height: 200px;

      @media (max-width: 768px) {
        height: 100px;
      }

      @media (max-width: 320px) {
        height: 70px;
      }
    }
  }
}

#service {
  & .service-title {
    width: 100%;
    min-height: 170px;
    background-color: #1f2237;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-weight: 300;
    padding: 20px 0;

    & h1 {
      font-family: 'Playfair Display', sans-serif;
      letter-spacing: .2em;
      hyphens: auto;
      margin-bottom: 3px;
      color: whitesmoke;
    }
  }

  & .service-image-link {
    position: relative;
    overflow: hidden;
    padding: 0 !important;
    height: 320px;

    & .service-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: whitesmoke;
      font-size: 32px;
      z-index: 2;

      @media (max-width: 768px) {
        font-size: 28px;
      }

      &:hover + .service-img {
        transform: scale(1.1);
      }
    }

    & .dark-box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgba(0, 0, 0, .55);
      width: 250px;
      height: 60%;
      z-index: 1;
      margin: 0 auto;

    }

    & .btn-explore-service {
      z-index: 2;
      margin-top: 15px;
    }

    & .service-img {
      height: 320px;
      width: 100%;
      object-fit: cover;
      transition: all ease 500ms;
    }
  }
}

#contact-us {
  padding-top: 60px;
  padding-bottom: 60px;
  font-weight: 300;
  font-size: 16px;

  & .contact-us-title {
    font-family: 'Playfair Display', sans-serif;
    letter-spacing: .2em;
    hyphens: auto;
    margin-bottom: 3px
  }

  & .contact-map {
    position: relative;

  }

  & .contact-map-image {
    width: 100%;
    height: 470px;
    object-fit: cover
  }

  & .contact-map-direction {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #202336;
    color: whitesmoke;
    width: 270px;
    padding: 20px;
    text-align: center;

    &:after {
      position: absolute;
      top: 100%;
      left: 50%;
      width: 0;
      height: 0;
      margin-left: -12px;
      content: " ";
      pointer-events: none;
      border: solid transparent;
      border-width: 12px;
      border-top-color: #202336;
    }
  }
}

.box-center {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
}

.darker {
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(1, 6, 26, .6);
  }
}

.title-underline {
  border-top: 2px solid #2986ce;
  width: 80px;
  height: 10px;
  margin-bottom: 15px;
}

.quote {
  display: inline-block;
  position: relative;
  padding: 0 30px;

  &:before {
    font-family: FontAwesome;
    position: absolute;
    content: "\f10d";
    top: 0;
    left: -20px;
  }

  &:after {
    font-family: FontAwesome;
    position: absolute;
    content: "\f10e";
    top: 0;
    right: -20px;
  }
}

footer {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
  background-color: #212436 !important;
}

#go-to-top {
  position: fixed;
  background: rgba(0, 0, 0, .8);
  color: whitesmoke;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 1000;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 28px;
  text-align: center;
  opacity: .8;

}

/*-------------------------*/
.hidden.menu {
  display: none;
}